<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101187162548-ud8b93n6or5j1s7td163c1qdgohvne70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101187162548-ud8b93n6or5j1s7td163c1qdgohvne70</string>
	<key>API_KEY</key>
	<string>AIzaSyCVFkmfu6yYksy86fh6v3IgzBUWb4gitgw</string>
	<key>GCM_SENDER_ID</key>
	<string>101187162548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SafetyApp.SafetyApplication</string>
	<key>PROJECT_ID</key>
	<string>safetyapp-d9dcd</string>
	<key>STORAGE_BUCKET</key>
	<string>safetyapp-d9dcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101187162548:ios:f9d9b0dc442402397222e1</string>
</dict>
</plist>